:root {
    --bright-white: #E9ECEF;
    --white: #D6D6D6;
    --yellow: #EBBD84;
    --blue: #3353A8;
    --dark-grey: #33333A;
    --light-grey: rgba(83, 83, 98, 0.1);
    --grey: #47474E;
    --bg-color: #181819;
    --max-width: 1288px;
}

html {
    --container: 327px;
    --padding-container: 24px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Lexend, sans-serif;
    min-width: 375px;
    min-height: 100vh;
    background-color: #181819;
    color: #D6D6D6;
}


.inest__svg-bg {
    position: absolute;
    width: 739px;
    height: 698.36px;
    left: -348px;
    top: 10472.11px;
}

img,
svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
figure {
    margin: 0;
}

iframe {
    border: 0;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}


.text_light {
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
}

.text_light_small {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
}

.h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 24px;
}

.h1 {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #E9ECEF;
}

.h3_phone {
    /* Heading */
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.text_bold {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #D6D6D6;
}

fieldset {
    padding: 0;
    bottom: 0;
    margin: 0;
}

.container {
    max-width: calc(var(--container) + (var(--padding-container) * 2));
    padding: 0 var(--padding-container);
    margin: 0 auto;
}

.gradient_text {
    color: transparent;
    width: fit-content;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    background: linear-gradient(257.3deg, #EBBD84 6.28%, #3353A8 102.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 7px;
}

.btn-transparent {
    margin: 0 auto;
    border-radius: 32px;
    height: 56px;
    width: 223px;
    color: var(--white);
    cursor: pointer;
    font-weight: bold;
    border: 10px solid transparent;
    border-image: url('../img/btn.svg') 10 stretch;
}

.btn-transparent:hover {
    border: none;
    background: linear-gradient(274.43deg, #EBBD84 -3.28%, #3353A8 132.5%);
}


.btn_colored {
    width: 223px;
    height: 56px;
    background: linear-gradient(274.43deg, #EBBD84 -3.28%, #3353A8 132.5%);
    border-radius: 32px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #E9ECEF;
}

.btn_colored:hover {
    opacity: 0.8;
    transition: 0.3s;
}

@media (min-width: 500px) {
    html {
        --container: 480px;
    }

    .h1 {
        /* Heading */
        font-family: 'Lexend';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        text-align: center;
        /* White */
        color: #E9ECEF;
    }

    .gradient_text {
        color: transparent;
        width: fit-content;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        background: linear-gradient(257.3deg, #EBBD84 6.28%, #3353A8 102.93%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 4px;
    }

    .h2 {
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
    }
}

@media (min-width: 600px) {
    html {
        --container: 580px;
    }
}

@media (min-width: 700px) {
    html {
        --container: 660px;
    }
}

@media (min-width: 800px) {
    html {
        --container: 760px;
    }
}

@media (min-width: 1000px) {
    html {
        --container: 980px;
    }
}


@media (min-width: 1300px) {
    html {
        --container: 1280px;
        --padding-container: 40px;
    }
}