.header {
  background: url('../img/header_bg_mobile.svg') top no-repeat,
    url('../img/vector_header_mobile_1.png') top no-repeat,
    url('../img/vector_header_mobile_2.png') no-repeat;
  background-position: -40px -325px, -500px -300px, 100.88px -40px;
  padding: 50px 0 1px 0;
  margin-bottom: 120px;
}

.header__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 24px;
}

.header__appeal {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 64px;
}

.header__title-container {
  margin-top: 178px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px 24px;
}

.nav__menu__btn {
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  list-style: none;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: rgba(20, 20, 20, 0.7);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease, visibility 0s 0.5s;
  /* Додаємо затримку для visibility */
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.nav__links.open {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  transition: transform 0.5s ease, opacity 0.5s ease;
  /* Відновлюємо перехід для відкритого меню */
}

.nav__links a {
  padding-bottom: 5px;
  font-weight: 500;
  color: var(--white);
  border-bottom: 2px solid transparent;
}

.nav__links a:hover {
  border-color: var(--white);
}

.nav__header_big_logo {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: rgba(20, 20, 20, 0.7);
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 12px var(--padding-container);
}
.nav__header_big {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px; /* Щоб контент не був надто широким на великих екранах */
  margin: 0 auto; /* Центруємо */
}
.sticky .nav__header_big {
  width: 100%;
}

.sticky .nav__links {
  justify-content: center;
}

.request-call-btn {
  display: none;

}

/* Коли навігація стає sticky, кнопка з’являється */
.sticky .request-call-btn {
  display: block;
}

@media (min-width: 500px) {
  .header__title-container {
    margin: 281px auto 377px;
  }
}

@media (min-width: 768px) {
  .header {
    margin-bottom: 0;
    background: url('../img/header_bg.svg') no-repeat,
      url('../img/vector_header_mobile_1.png') no-repeat,
      url('../img/vector_header_mobile_2.png') no-repeat;
    background-position: 9.63% 74.92%, -64.34% -77.05%, 125% 60.05%;
  }

  .header__title-container {
    max-width: 1008px;
    text-align: center;
  }

  .header__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
  }

  .header__appeal {
    font-size: 22px;
    font-weight: 300;
  }

  .nav__header_big {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .nav__header_big_logo {
    display: inline;
    width: 130px;
    font-size: 18px;
    font-weight: 700;
  }

  nav {
    position: static;
  }

  .nav__header {
    display: none;
  }

  .nav__links {
    /* Відображення пунктів меню в рядок */
    position: static;
    transform: none;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    gap: 32px;
    opacity: 1;
    /* Пункт меню має бути видимим */
    visibility: visible;
    /* І також має бути видимим */
    z-index: 1;
    /* Переконайтеся, що меню поверх всіх елементів */
  }

  .nav__links a {
    font-weight: 300;
    font-size: 18px;
  }

  .nav__links .nav__logo {
    display: block;
  }

  .nav__links .nav__logo img {
    max-width: 150px;
  }
}

@media (min-width: 1440px) {
  .header {
    background-position: 9.63% 74.92%, -64.34% -77.05%, 125% 60.05%;
  }
}

@media (min-width: 1750px) {
  .header {
    background-position: 100.63% 74.92%, -64.34% -77.05%, 125% 60.05%;
  }
}