


.shape_the_future{
    margin-bottom: 168px;
}

.section__shape_the_future .h1{
    margin-bottom: 64px;
}

.section__shape_the_future .btn_colored{
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
    

}

.section__shape_the_future .btn{
    /* display: block; */
    margin: 0 auto;
}

.section__shape_the_future{
    margin-bottom: 168px;
}