.shape_the_future {
    margin-bottom: 168px;
}

.section__shape_the_future .h1 {
    margin-bottom: 64px;
}

.section__shape_the_future .btn_colored {
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
}

.section__shape_the_future .btn {
    /* display: block; */
    margin: 0 auto;
}

.section__shape_the_future {
    margin-bottom: 168px;
}

.shape-the-future__glow-1 {
    /* Vector */

    position: absolute;
    width: 418px;
    height: 347px;
    left: 167px;
    top: 5956.09px;

    /* Gradient */
    background: linear-gradient(267.34deg, #EBBD84 4.45%, #3353A8 95.55%);
    filter: blur(130px);
    transform: matrix(0.44, 0.9, 0.94, -0.35, 0, 0);
}

.shape-the-future__glow-2 {
    /* Vector */

    position: absolute;
    width: 284.82px;
    height: 214.54px;
    left: calc(50% - 284.82px/2 + 3.37px);
    top: 6539.18px;

    background: linear-gradient(9.8deg, #EBBD84 10.64%, #3353A8 89.36%);
    filter: blur(120px);
    transform: rotate(-154.22deg);
}

@media (min-width: 768px){
    .btn-container{
        display: flex;
        justify-content: center;
        gap: 36px;
        width: 482px;
        height: 56px;
        margin:  0 auto;
    }
}